.carousel .carousel-item {
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-position: center;
}

.carousel .carousel-item:first-of-type {
    background-image: url(images/核1.png);
}

.carousel .carousel-item:nth-of-type(2) {
    background-image: url(images/核2.png);
}

.carousel .carousel-item:last-of-type {
    background-image: url(images/核3.png);
}

.carousel-control-prev-icon, .carousel-control-next-icon {
    width: 50px;
    height: 50px;
}
