.carousel .carousel-item {   
    height: 100vh;
    max-height:300px;
    background-size: cover;
    background-position: center;
}

.carousel .carousel-item:first-of-type {
    background-image: url(images/核1.png);
}

.carousel .carousel-item:nth-of-type(2) {
    background-image: url(images/核2.png);
}

.carousel .carousel-item:nth-of-type(3) {
    background-image: url(images/核3.png);
}

.carousel .carousel-item:nth-of-type(4) {
    background-image: url(images/核4.png);
}

.carousel .carousel-item:last-of-type {
    background-image: url(images/核5.png);
}

.carousel-control-prev-icon, .carousel-control-next-icon {
    width: 50px;
    height: 50px;
}
